@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  /* background-color: rgb(98, 118, 163); */
}

.header {
  background-color: rgba(38, 44, 58, 255);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  margin: auto;

  max-height: 200px;
  height: 150px;
  z-index: 100;
  left: 0;
  right: 0;
}

.header .logo img {
  width: 200px;
}

.header .nav-ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  width: 550px;
}

.header ul li a {
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.header ul li a:hover {
  color: rgb(98, 118, 163);
  transition: 0.3s;
}

.registration-search ul {
  width: 200px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registration-search .search-icon i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.search-icon i:hover {
  color: rgb(98, 118, 163);
  transition: 0.3s;
}

.registration-search .left-border {
  /* width: 5px;
  height: 10px;
  background-color: white;
  color: white; */
  border-left: 1px solid white;
  padding-left: 20px;
  width: 50px;
}

/* BURGER BAR */

.burger-menu {
  border-left: 1px solid white;
  padding-left: 23px;
  width: 50px;
  height: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  /* display: none; */
}

.burger-menu:hover .burger {
  background-color: rgb(98, 118, 163);
  transition: 0.3s;
}

.burger {
  width: 30px;
  height: 3px;
  background-color: white;
}

/* REGISTRATION FORM  */

.form-section {
  /* width: 600px; */
  padding: 50px;
  max-width: 800px;
  max-height: 600px;
  border-radius: 10px;
  background-color: rgba(38, 44, 58, 255);
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.form-section.active-form {
  display: block;
}

.inputs {
  max-width: 230px;
}

.form-section .heading h1 {
  color: white;
  text-align: center;
  margin: 20px 0;
}

.heading {
  position: relative;
}

.heading span {
  position: absolute;
  top: 0;
  right: 25px;
  color: white;
  font-size: 30px;
}

.heading span {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 15px;
  /* height: 250px; */
  justify-content: center;
}

.grid-container input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 5px 2px;
  width: 230px;
  font-size: 15px;
  margin-top: 3px;
  outline: none;
}

.grid-container label {
  color: white;
  font-size: 17px;
}

.flex-input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 120px;
  gap: 5px;
  padding-top: 20px;
}

.agree-submit {
  width: 350px;
  height: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}

.agree-submit label {
  color: white;
}

.agree-submit .btn {
  margin-top: 10px;
}

.agree-submit .btn button {
  width: 350px;
  height: 40px;
  font-size: 18px;
  background-color: #eab676;
  cursor: pointer;
}

.agree-submit .btn button:hover {
  background-color: rgb(221, 161, 87);
}

.error-text {
  margin-top: 3px;
  color: red;
  display: block;
}

.valid-mail {
  color: greenyellow;
}

.pass-input {
  position: relative;
}

.show {
  position: absolute;
  right: 5px;
  top: 30px;
}

.pass-input span i {
  cursor: pointer;
}
/* TEAM MEMBERS SECTION  */

.team-container {
    background-color: white;
  }
  
  .team-inner-box {
    margin: auto;
    width: 800px;
    position: relative;
  }
  
  .team-container span i {
    font-size: 25px;
  }
  
  .team-left {
    position: absolute;
    left: -20px;
    top: 60%;
    /* transform: translateY(-50%); */
    cursor: pointer;
  }
  
  .team-right {
    position: absolute;
    right: -20px;
    top: 60%;
    cursor: pointer;
  }
  
  .arrow-transition {
    transition: 0.3s;
  }
  
  .inner-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
  }
  
  .member-box {
    width: 180px;
    border-radius: 15px;
    padding: 5px;
    /* background-color: rgb(98, 118, 163, 0.5); */
  }
  
  .inner-box {
    text-align: center;
  }
  
  .member-box img {
    /* border: 5px black solid; */
    border-radius: 50%;
    /* margin-left: 50%;
    transform: translateX(-50%); */
  }
  
  .section-heading {
    text-align: center;
    padding-top: 20px;
    font-size: 30pt;
    font-weight: 300;
    padding: 60px 0 20px 0;
  }

/* ABOUT  */

.about {
  background-color: white;
  height: 400px;
}

/* MEDIA  */

@media (max-width: 1056px) {
  .header ul li a {
    font-size: 18px;
  }
  .header .nav ul {
    width: 400px;
  }
  .team-container {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
    border-left: 1px solid white;
    padding-left: 23px;
    width: 50px;
    height: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .nav {
    display: none;
  }

  .registration-search ul {
    width: 180px;
  }

  .nav-burger {
    width: 210px;
    height: 150px;
    position: absolute;
    right: 100px;
    top: 100px;
    background-color: rgb(255, 255, 255, 0.3);
    display: block;
  }

  .ul-burger {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .a-burger {
    color: black;
    font-size: 30px;
  }
}
